  <p><%= @creator.name %> has invited you to join <%= @group.name %></p>

  <%= form_for @group_user do |f| %>

  <%= hidden_field_tag 'invitation_token', params[:invitation_token] %>

    <div class="actions">
      <%= f.submit "Join Group???????!!?!?$%@" %>
    </div> 

  <% end %>


