<div class="group-grid hidden-phone">
  <% unless @users.blank? %>
    <% @users.each do |user| %>
      <a href="/users/<%= user.id %>" class="user span4">
        <div class="head">
          <%= image_tag user.profile_pic, :class => 'profile-pic' %>
          <div class="name">
            <h2><%= user.name %></h2>
            <p>I am an awesome person.</p>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="foot">
          <div class="count online-courses" data-toggle="tooltip" data-placement="top" title data-original-title="Courses"><i class="icon-desktop"></i> <span><%= user.course_stars.count %></span></div>
          <div class="count github" data-toggle="tooltip" data-placement="top" title data-original-title="Github"><i class="icon-github"></i> <span><%= user.github_stars.count %></span></div>
          <div class="count blog-posts" data-toggle="tooltip" data-placement="top" title data-original-title="Blog Posts"><i class="icon-book"></i> <span><%= user.blog_stars.count %></span></div>
        </div>
      </a>
    <% end %>
  <% else %>
  <p>No users, die.</p>
  <% end %>
</div>