<h3>Edit User Form</h3>

<%= form_for @user, :html => { :id => "update-user" } do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>    
  <% end %>

  <div class="field">
    <%= f.label :treehouse_username %><br />
    <%= f.text_field :treehouse_username %>
  </div>

  <div class="field">
    <%= f.label :codeschool_username %><br />
    <%= f.text_field :codeschool_username %>
  </div>

  <div class="field">
    <%= f.label :github_username %><br />
    <%= f.text_field :github_username %>
  </div>

  <div class="field">
    <%= f.label :blog %><br />
    <%= f.text_field :blog_url %>
  </div>

  <div class="field">
    <%= f.label :is_teacher %>
    <%= f.check_box :is_teacher %>
  </div>

  <div class="actions" >
    <%= f.submit 'Update', {:id => 'update-button'} %>
  </div>

<% end %>