<% content_for :section_title do %>
  <%= @user.name %>
<% end %>

<% content_for :sidebar_profile_pic do %>
  <%= image_tag @user.safe_profile_pic %>
<% end %>

<% content_for :blog_count do %>
  <%= @user.blog_stars %>
<% end %>

<% content_for :codeschool_count do %>
  <%= @user.codeschool_stars %>
<% end %>

<% content_for :github_count do %>
  <%= @user.github_stars %>
<% end %>

<% content_for :handraise_count do %>
  <%= @user.handraise_stars %>
<% end %>

<% content_for :student_count do %>
  <%= @user.student_stars %>
<% end %>

<% content_for :teacher_count do %>
  <%= @user.teacher_stars %>
<% end %>

<% content_for :treehouse_count do %>
  <%= @user.treehouse_stars %>
<% end %>

<div class="span8 hidden-phone">
  <%= render :partial => "achievements/achievement" %>
</div>