<p id="notice"><%= notice %></p>

<div class="row">
  <div class="span4">
    <p>
      <b>Name:</b>
      <%= @user.name %>
    </p>

    <div>
      <img src=<%= @user.profile_pic %>>
    </div>

    <%= link_to 'Edit', edit_user_path(@user) %> |
    <%= link_to 'Back', users_path %>

    <%= form_tag(give_star_path(@user), :method => 'post') do %>
      Enter A Message to Give A Star!<%= text_field_tag(:message) %>
      <%= submit_tag ('Submit') %>
    <% end %>

    <%# if allow? "users", "refill_star_bank" %>
      <%= form_tag(refill_star_bank_path(@user), :method => 'post') do %>
        <p>Add 1 star to <%= @user.name %>'s Star Bank!</p>
        <%= submit_tag ('Submit') %>
      <% end %>
    <%# end %>

  </div>
  <div class="span8">

    <b>Achievements:</b>
    <ul>
        <%= render :partial => "achievements/achievement" %>
    </ul>

  </div>
</div>

<b>Messages:</b>
<ul>
  <% @messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
</ul>