<% content_for :section_title do %>
  <%= @user.name %>
<% end %>

<% content_for :sidebar_profile_pic do %>
  <%= image_tag @user.profile_pic %>
<% end %>


<% @star_types.each do |star| %>
  <% content_for ("#{ star }_count").to_sym do %>
    <%= @user.send("#{ star }_stars").count unless star == 'show' %>
  <% end %>
<% end %>

<% @star_types.each do |star| %>
  <% content_for ("#{ star }_link").to_sym do %>
    <%= link_to "#{ star.capitalize }", "/users/#{ @user.id }/#{ star }" %>
  <% end %>
<% end %>


<% unless current_user.is_teacher? && current_user.id == params[:id].to_i  %>
  <div class="span8 hidden-phone">
    <%= render :partial => "achievements/achievement" %>
  </div>
<% end %>

<% if current_user.is_teacher? && current_user.id == params[:id].to_i %>
  <div class="span8 hidden-phone">
    <%= render :partial => "teachers/dashboard", :locals => {:groups => @groups} %>
  </div>
<% end %>
  


