<div>
  <h3>Teacher's Pet<h3>
  <%= render :partial => "achievements/teacher", :collection => @user.teacher_stars, :as => "teacher_star"%>
</div>

<hr>

<div>
  <h3>Github<h3>
  <%= render :partial => "achievements/github", :collection => @user.github_stars, :as => "github_star"%>
</div>

<hr>

<div>
  <h3>Blog<h3>
  <%= render :partial => "achievements/blog", :collection => @user.blog_stars, :as => "blog_star" %>
</div>

<hr>

<div>
  <h3>Student<h3>
  <%= render :partial => "achievements/student", :collection => @user.student_stars, :as => "student_star" %>
</div>

<hr>

<div>
  <h3>Treehouse</h3>
  <%= render :partial => "achievements/treehouse", :collection => @user.treehouse_stars, :as => "treehouse_star" %>
</div>

<hr>

<div>
  <h3>Codeschool</h3>
  <%= render :partial => "achievements/codeschool", :collection => @user.codeschool_stars, :as => "codeschool_star" %>
</div>