<div class="navbar navbar-static-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/"><i class="icon-star"></i>STARBOARD</a>
      <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <div class="nav-collapse">
        <ul class="nav pull-right">
          <% if current_user and current_user.is_teacher? %>
            <li class="pull-right"><%= link_to "DASHBOARD", current_user %></li>
            <li class="pull-right"><%= link_to "NEW GROUP", new_group_path %></li>
            <li><%= link_to "LOGOUT", logout_path, :class => "logout" %></li>
          <% elsif current_user && !current_user.is_teacher? %>
            <li><%= link_to "LOGOUT", logout_path, :class => "logout" %></li>
            <li><%= link_to "PROFILE", @user %></li>
          <% else %>
            <li><%= link_to "LOG IN", login_path, :class => 'login' %></li>
            <li><%= link_to "TEACHER SIGN UP", teacher_signup_path %></li>
          <% end %>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>