<div class="sidebar span4">
  <div class="profile-pic">
    <% if current_user %>
      <%= content_for?(:sidebar_profile_pic) ? yield(:sidebar_profile_pic) : (image_tag current_user.safe_profile_pic) %>
    </div>
    <ul class="navigation">
      <% if @group %>
        <li class="head hidden-phone"><%= @group.name %> <%= link_to 'See All Groups', groups_path, :class => 'see-all' %></li>
          <ul class="hidden-phone">
            <a href="/groups/<%= @group.id %>/activity">
              <li class="view-nav <%= 'active' if @active_nav == 'activity' %>"><i class="icon-reorder"></i> Activity Feed</li>
            </a>
            <a href="/groups/<%= @group.id %>/leaderboard">
              <li class="view-nav <%= 'active' if @active_nav == 'leaderboard' %>"><i class="icon-th-large"></i> Leaderboard</li>
            </a>
            <a href="/groups/<%= @group.id %>/blog_posts">
              <li class="view-nav <%= 'active' if @active_nav == 'blog_posts' %>"><i class="icon-pencil"></i> New Blog Posts</li>
            </a>
            <a href="/groups/<%= @group.id %>/stats">
              <li class="view-nav <%= 'active' if @active_nav == 'stats' %>"><i class="icon-bar-chart"></i> Stats</li>
            </a>
            <a href="/groups/<%= @group.id %>/combined">
              <li class="view-nav <%= 'active' if @active_nav == 'combined' %>"><i class="icon-tasks"></i> Combined</li>
            </a>
          </ul>
      <% end %>
      <li class="head">Stars <%= link_to 'See All', user_path(current_user), :class => 'see-all' %></li>
      <ul>
        <li class="view-nav <%= 'active' if @active_nav == 'blog' %>">
          <i class="icon-book"></i>
          <%= content_for?(:blog_link) ? yield(:blog_link) : link_to('Blog Posts', "/users/#{current_user.id}/blog") %>
          <span class="count"><%= content_for?(:blog_count) ? yield(:blog_count) : current_user.blog_stars.count %></span>
        </li>
        <li class="view-nav <%= 'active' if @active_nav == 'codeschool' %>">
          <i class="icon-columns"></i>
          <%= content_for?(:codeschool_link) ? yield(:codeschool_link) : link_to('Codeschool', "/users/#{current_user.id}/codeschool") %>
          <span class="count"><%= content_for?(:codeschool_count) ? yield(:codeschool_count) : current_user.codeschool_stars.count %></span>
        </li>
        <li class="view-nav <%= 'active' if @active_nav == 'github' %>">
          <i class="icon-github"></i>
          <%= content_for?(:github_link) ? yield(:github_link) : link_to('Github', "/users/#{current_user.id}/github") %>
          <span class="count"><%= content_for?(:github_count) ? yield(:github_count) : current_user.github_stars.count %></span>
        </li>
        <li class="view-nav <%= 'active' if @active_nav == 'student' %>">
          <i class="icon-beer"></i>
          <%= content_for?(:student_link) ? yield(:student_link) : link_to('Student', "/users/#{current_user.id}/student") %> 
          <span class="count"><%= content_for?(:student_count) ? yield(:student_count) : current_user.student_stars.count %></span>
        </li>
        <li class="view-nav <%= 'active' if @active_nav == 'teacher' %>">
          <i class="icon-coffee"></i>
          <%= content_for?(:teacher_link) ? yield(:teacher_link) : link_to('Teacher', "/users/#{current_user.id}/teacher") %>
          <span class="count"><%= content_for?(:teacher_count) ? yield(:teacher_count) : current_user.teacher_stars.count %></span>
        </li>
        <li class="view-nav <%= 'active' if @active_nav == 'treehouse' %>">
          <i class="icon-leaf"></i>
          <%= content_for?(:treehouse_link) ? yield(:treehouse_link) : link_to('Treehouse', "/users/#{current_user.id}/treehouse") %> 
          <span class="count"><%= content_for?(:treehouse_count) ? yield(:treehouse_count) : current_user.treehouse_stars.count %></span>
        </li>
        <li class="head"><%= link_to "Edit Profile", edit_user_path(current_user) %></li>
      </ul>
      <% if @users %>
        <li class="head classmates">Class</li>
        <ul>
          <% @users.each do |user| %>
            <li class="classmate"> <%= image_tag user.safe_profile_pic %> <%= link_to user.name, user_path(user) %> <span class="count"><%= user.achievements.count %></span></li>
          <% end %>
        </ul>
      <% end %>
    <% end %>
  </ul>
</div>