<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Starboard" %></title>
    <%= csrf_meta_tags %>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag "application", :media => "all" %>
    <%#= favicon_link_tag 'images/apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>
    <%#= favicon_link_tag 'images/apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>
    <%#= favicon_link_tag 'images/apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>
    <%#= favicon_link_tag 'images/apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>
    <%#= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>
  </head>
  <body>
    

        <div class="navbar navbar-static-top">
          <div class="navbar-inner">
                <a class="brand" href="/"><i class="icon-star"></i>STARBOARD</a>
              <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </a>
              <div class="nav-collapse">
                    <ul class="nav pull-right">
                      <% if current_user and current_user_is_teacher? %>
                        <li class="pull-right"><%= link_to "LOGGED IN AS #{current_user.name.upcase}", teacher_show_path(current_user) %><li>
                        <li><%= link_to "LOGOUT", logout_path, :class => "logout" %></li>
                        <li class="pull-right"><%= link_to "New Group", new_group_path %></li>
                      <% elsif current_user && !current_user_is_teacher? %>
                        <li class="pull-right"><%= link_to "LOGGED IN AS #{current_user.name.upcase}", user_path(current_user) %><li>
                        <li><%= link_to "LOGOUT", logout_path, :class => "logout" %></li>
                      <% else %>
                        <li><%= link_to "LOG IN", login_path, :class => 'login' %></li>
                        <li><%= link_to "TEACHER SIGN UP", teacher_signup_path %></li>
                      <% end %>
                    </ul>
                </ul>
              </div><!--/.nav-collapse -->
          </div>
        </div>

        <div class="subnav navbar">
          <div class="navbar-inner">
            <ul class="nav">
              <li class="give-star"><a href="#myModal" role="button" data-toggle="modal" class="give-star-btn btn">Give a Star</a></li>
              <li><a class="section-title"><i class="icon-th-large"></i>  All Groups</a></li>
              <!-- <li class="filter"><a href="#">Filter by: This Week</a></li> -->
            </ul>
          </div>
        </div>

        <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" 
          aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Modal header</h3>
          </div>       
          <div class="modal-body">
            <%#= form_tag(give_star_path(@user), :method => 'post') do %>
              <p>Who would you like to starify?</p>
              <input type="text" class="span3" style="margin: 0 auto;" data-provide="typeahead" data-items="4" data-source="<%= @group.users.collect { |u| u.name } %>">
              <p>Enter A Message!</p>
              <%= text_area_tag(:message) %>
              <%#= submit_tag ('Submit') %>
            <%# end %>
          </div>
          <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button class="btn btn-primary">Save changes</button>
          </div>
        </div>
        
        <div class="page">
            <div class="sidebar">
              <div class="profile-pic">
                <% if current_user %>
                  <%= image_tag current_user.safe_profile_pic %>
                </div>
                <ul class="navigation">
                  <li class="head">Profile<a href="#">See All</a></li>
                  <ul>
                    <li class="view-nav"><i class="icon-github"></i> Github <span class="count"><%= current_user.github_stars %></span></li>
                    <li class="view-nav"><i class="icon-book"></i> Blog <span class="count"><%= current_user.blog_stars %></span></li>
                    <li class="view-nav"><i class="icon-reorder"></i> Codeschool <span class="count"><%= current_user.codeschool_stars %></span></li>
                    <li class="view-nav"><i class="icon-reorder"></i> Treehouse <span class="count"><%= current_user.treehouse_stars %></span></li>
                  </ul>
                  <% if @group %>
                    <li class="head"><%= @group.name %> <%= link_to 'See All', groups_path %></li>
                    <ul>
                      <li class="view-nav"><i class="icon-tasks"></i> Combined</li>
                      <li class="view-nav active"><i class="icon-th-large"></i> Leaderboard</li>
                      <li class="view-nav"><i class="icon-reorder"></i> Activty Feed</li>
                  </ul>
                  <% end %>
                  <% if @users %>
                    <li class="head classmates">Class</li>
                    <ul>
                      <% @users.each do |user| %>
                        <li class="classmate"> <%= image_tag user.safe_profile_pic %> <%= link_to user.name, user_path(user) %> <span class="count"><%= user.achievements.count %></span></li>
                      <% end %>
                    </ul>
                  <% end %>
                <% end %>
              </ul>
            </div>
        
            <div class="content" ng-app>
              <%= bootstrap_flash %>
              <%= yield %>
            </div>
            <%= javascript_include_tag "application" %>
        </div>
  </body>
</html>
